*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: silver;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: silver;
}
.container form .details{
    margin-top: 10px;
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 6px 0;
    color: black;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .form-group{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
}
.form-group label{
    font-size: 15px;
    font-weight: 500;
    color: #080303;
}
.form-group input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 15px;
    height: 42px;
    margin: 6px 0;
}
.form-group select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #fff;    
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.form-group input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form-group select:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form-group input[type="date"]{
    color: #707070;
}
.form-group input[type="date"]:valid{
    color: #333;
}
.container input[type="submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #4070f4;
}
.buttons{
    text-align: center;
}
.showBtn{
    background-color: #4070f4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table {
    border-collapse: separate;
    margin-top: 20px;
    border-spacing: 0px;
    background-color: #f2f2f2;
}
.table-container {
    width: 100%;
    overflow: auto;
}

.card-header h2.display-6 {
    position: relative;
    font-size: 20px;
    font-weight: 600px;
    color: #333;
}

th {
    background-color: #f2f2f2;
    color: #fff;
    font-weight: bold;
    padding: 12px 16px; 
    text-align: center;
    border: 1px solid #fff;
    font-size: 13px;
}

tr:first-child th {
    background-color: #3251d8; 
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    padding: 12px 16px;
    border: 1px solid #ddd;
    vertical-align: top;
    font-size: 12px; /* Adjust font size */
    text-align: center;
}

tr:first-child {
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}